<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/thankstyle.css" type="text/css" />
</head>

<body>
    <div class="background"></div>
    <div class="background background2"></div>
    <div class="background background3"></div>
    <div class="content">
        <h1>Хотим выразить вам благодарность, за прекрасные пары и отличное окончание учебного года, в частности от Макогона Николая, Гусина Олега и Шабая Владислава и в целом от всей нашей группы З-41</h1>
    </div>
</body>